@import "shared/styles/colors.scss";

$size-lg-screen-lg-height: 100px;
$size-md-screen-lg-height: 64px;
$size-sm-screen-lg-height: 56px;

$size-lg-screen-sm-height: 72px;



//! todo: change to map

@mixin lg-text {
    font-size: 36px;
    line-height: 40px;
}

@mixin sm-text {
    font-size: 24px;
    line-height: 26px;
}


.button {
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // &.fixedSize {
    //     max-width: 400px;
    // }

    &.lg {
        @include lg-text();
        height: $size-lg-screen-lg-height;

        @media (max-width: 375px) {
            @include sm-text();
            height: $size-lg-screen-sm-height;
        }

    }

    &.contained{
        border: 0;

        &.sm {
            @include sm-text();

            height: $size-sm-screen-lg-height;
        }

        &.primary {
            background-color: $moray;
            color: $white;
        }

        &.secondary {
            background-color: $white;
            color: $moray;
        }
    }

    &.outlined {
       background-color: transparent;
       border: $lime solid 2px;
       color: $lime;


       &.md {
           @include sm-text();
            height: $size-md-screen-lg-height;
       }
    }
}

.text {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-weight:normal;
    font-size: 16px;
    line-height: 22px;
    text-transform:none;
    width: auto;                  
    height: auto; 
}