@use "sass:map";
@import "shared/styles/colors.scss";

$button-sizes: (
  lg-screen: (
    lg-size: 100px,
    md-size: 64px,
    sm-size: 56px
  ),
  sm-screen: (
    lg-size: 72px
  )
);

@function get-button-size($size, $screen) {
    @return map-get(map-get($button-sizes, $screen), $size);
}

@mixin lg-text {
    font-size: 36px;
    line-height: 40px;
}

@mixin sm-text {
    font-size: 24px;
    line-height: 26px;
}


.button {
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;

    // &.fixedSize {
    //     max-width: 400px;
    // }

    &.lg {
        @include lg-text();
        height: get-button-size(lg-size,  lg-screen);

        @media (max-width: 375px) {
            @include sm-text();
            height: get-button-size(lg-size, sm-screen);
        }

    }

    &.contained{
        border: 0;

        &.sm {
            @include sm-text();
            height: get-button-size(sm-size, lg-screen);
        }

        &.primary {
            background-color: $primary;
            color: $secondary;
        }

        &.secondary {
            background-color: $white;
            color: $secondary;
        }
    }

    &.outlined {
       background-color: transparent;
       border: $accent solid 2px;
       color: $accent;


       &.md {
           @include sm-text();
           height: get-button-size(md-size, lg-screen);
       }
    }
}

.text {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-weight:normal;
    font-size: 16px;
    line-height: 22px;
    text-transform:none;
    width: auto;                  
    height: auto; 
    color: $text;
}