@import "../../styles/colors.scss";


.rating {
  display: flex;
  position: relative;

    .backgroundStars {
      display: flex;
      stroke: green;
    }

    .frontStars {
      display: flex;
      position: absolute;
      overflow: hidden;


      :global(.icon) {
        fill: green
      }
    }
  }
  
