@import "../../styles/colors.scss";


.inputWrapper {
  position: relative;
  width: 100%;
}

.root {
  height: 56px;
  color: $secondary;
  border: 0;
  outline: 0;
  padding: 0 18px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  

  &.mutedPrimary {
    background-color: $mutedPrimary;
  }

  &.inputSpecial {
    background-color: $inputSpecial;
  }

  &.fixedSize {
    max-width: 644px;
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  color: rgba($secondary, 0.8);
  font-size: 16px;
  transition: 0.2s;
}
