$primary : #1C7161;
$accent: #CBEC00;
$mutedPrimary: #498D81;
$secondary: #FFFFFF;
$mutedSecondary: #DADADA;
$text: #000000;
$border: #DADADA; 
$inputSpecial: #796752; //? интуп  
$poison-green: #378174; //? шапка   

